<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sumador
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-label>Operando 1</ion-label>
    <ion-input type="number" [(ngModel)]="numero1" 
      placeholder="Introduce un número A" (change)="limpiar_resultado()"></ion-input>
    <ion-label>Operando 2</ion-label>
    <ion-input type="number" [(ngModel)]="numero2" 
      placeholder="Introduce un número B" (change)="limpiar_resultado()"></ion-input>
    <ion-button expand="block" (click)="sumar()">
      Calcular
    </ion-button>
    <ion-card *ngIf="resultado != null">
      <ion-card-header>
        <ion-card-title>Resultado</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{numero1}} + {{numero2}} = {{resultado}}</p>
      </ion-card-content>
    </ion-card>
    
  </div>
</ion-content>
